[extruder]
step_pin: PB3
dir_pin: !PB4            # Add ! if moving opposite direction
enable_pin: !PD2
full_steps_per_rotation: 200    # 1.8° motor LDO
#rotation_distance: 22.23        # See calibrating rotation_distance on extruders doc
#rotation_distance: 25.67 # 119,97 statt 100 mm
rotation_distance:  22.43 # 98,29 mm statt 100 mm
gear_ratio: 50:10               # For Mini Afterburner
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: Generic 3950 # Adjust for your hotend thermistor (see options below)
sensor_pin: PA0
control: pid            # Do PID calibration
pid_Kp: 22.185
pid_Ki: 1.740
pid_Kd: 70.713
min_temp: 0
max_temp: 290
min_extrude_temp: 180
max_extrude_only_distance: 780.0
max_extrude_cross_section: 50 # was 0.8
pressure_advance: 0.0   # See tuning pressure advance doc
pressure_advance_smooth_time: 0.040


[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
interpolate: True
run_current: 0.3	# for LDO 36STH17-1004AHG 
hold_current: 0.2	# for LDO 36STH17-1004AHG
#run_current: 0.5	# for OMC 14HR07-1004VRN rated at 1A
#hold_current: 0.3	# for OMC 14HR07-1004VRN rated at 1A
sense_resistor: 0.110
stealthchop_threshold: 500