[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

[virtual_sdcard]
path: ~/gcode_files
on_error_gcode:
    _PROBE_ON_ERROR_ACTION

[exclude_object]

[idle_timeout]
timeout: 1800
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      {action_respond_info("POWER: Execute Idle Timeout")}
      ;UPDATE_DELAYED_GCODE ID=_DELAY_PSU_OFF DURATION=20
    {% endif %}
  {% endif %}


[pause_resume]

[display_status]

[respond]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1


# include all the remaining macros (not already included in config files) and scripts
# from here to avoid to include them in the main printer.cfg and avoid user confusion
[include ../macros/base/*.cfg]
[include ../macros/base/homing/homing_*.cfg]
[include ../macros/base/probing/*.cfg]

[include ../macros/calibration/calib*.cfg]

[include ../macros/helpers/*.cfg]

[include ../macros/miscs/compatibility.cfg]
[include ../macros/miscs/debugging.cfg]
[include ../macros/miscs/timelapse.cfg]

[include ../scripts/*.cfg]