
# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,110
screw2_name: back left
screw3: 110,110
screw3_name: back right


[screws_tilt_adjust]
screw1: 102,110          #For Long probe
screw1_name: back right
screw2: 0,110           #For Long probe
screw2_name: back left
screw3: 50,5             #For Long probe
screw3_name: front screw
horizontal_move_z: 16
speed: 100
screw_thread: CW-M3


